{
  "env": {
    "development": {
      "presets": [
        "react-app",
        "@babel/preset-env"
      ],
      "plugins": [
        "babel-plugin-styled-components",
        "transform-object-rest-spread",
        ["@babel/plugin-proposal-decorators", { "legacy": true }],
        "transform-class-properties"
      ]
    },
    "production": {
      "presets": [
        "react-app",
        "@babel/preset-env"
      ],
      "plugins": [
        "babel-plugin-styled-components",
        "transform-object-rest-spread",
        ["@babel/plugin-proposal-decorators", { "legacy": true }],
        "transform-class-properties"
      ]
    },
    "test": {
      "presets": [
        "react-app",
        "@babel/preset-env"
      ],
      "plugins": [
        "babel-plugin-styled-components",
        "transform-object-rest-spread",
        ["@babel/plugin-proposal-decorators", { "legacy": true }],
        "transform-class-properties"
      ]
    }
  }
}